<mat-card class="task-card" *ngIf="!editTaskFlag">
    <mat-card-header class="task-card-header">
        <mat-card-title>
            <span>{{task.title}}</span>
        </mat-card-title>
        <div>
            <i class="material-icons edit_btn" (click)="showeditTask()">
                edit
            </i>
            <i class="material-icons close_btn" (click)="removeTask()">
                close
            </i>

        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="task-card-content">
        <div>Task Id: {{task.id}}</div>
        {{task.description}}
    </mat-card-content>
</mat-card>
<app-task *ngIf="editTaskFlag" [task]="task" class="highlight" (onCancel)="hideEditTask()"></app-task>
