.task-card {
    margin-bottom: 5px;
}

.task-card-header {
    display: flex;
    justify-content: space-between;
}

.task-card-content {
    margin-top: 10px;
}

.task-card-title {
    display: flex;
    justify-content: space-between;
}
div.actions{
    .delete{
        cursor: pointer;
    }
    .edit{
        cursor: pointer;
    }
}