
<div mat-dialog-content>
  <p>Task title</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.title" required>
  </mat-form-field>
</div>
<div mat-dialog-content>
    <p>Task description</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.description">
    </mat-form-field>
  </div>
<!-- <div mat-dialog-content>
    <p>Task status</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.status">
    </mat-form-field>
  </div> -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="{ id:data.id, title:data.title , description:data.description}" cdkFocusInitial>Add Task</button>
</div>
