<button mat-raised-button color="primary" class="add_task_parent" (click)="showAddTask()" > Add Task</button>
<div *ngIf="addTask" class="add_task">
	<form [formGroup]="taskForm" (ngSubmit)="addNewTask()">
		<div>
		  <mat-form-field>
		    <input matInput formControlName="title" placeholder="Title">
		    <mat-error *ngIf="taskForm.get('title').invalid">This is required</mat-error>
		  </mat-form-field>

		</div>
		<div>
		  <mat-form-field>
		    <input matInput formControlName="description" placeholder="Description">
		    <mat-error *ngIf="taskForm.get('description').invalid">This is required, string only</mat-error>
		  </mat-form-field>
		</div>
		<button mat-button [disabled]="!taskForm.valid" >Add</button>
	</form>
</div>
