<app-task (emitData)="getTaskData($event)"></app-task>
<div class="task-panel-container">
  <div *ngFor="let task of taskPanelList" class="task-panel">
    <div class="example-card">
      <div class="card-header">
        <div class="card-title">
          <span>{{ title[task] }}</span>
        </div>
      </div>
    </div>
    <div class="drop-list">
      <app-new-task-card *ngIf="task"></app-new-task-card>
      <div class="drop-box" *ngFor="let taskObj of tasks[task]">
        <!-- (OutputData)="outputDataFromCard($event)" -->
        <app-task-card [task]="taskObj" ></app-task-card>
      </div>
    </div>
  </div>
</div>
