<app-task (emitData)="getTaskData($event)"></app-task>
<div class="task-panel-container">
  <div *ngFor="let status of taskStatus" class="task-panel">
    <div class="example-card">
      <div class="card-header">
        <div class="card-title">
          <span>{{ status.name }}</span>
        </div>
      </div>
    </div>
    <div class="drop-list">
      <div class="drop-box" *ngFor="let task of filteredTask[status.id]">
        <app-task-card [task]="task" ></app-task-card>
      </div>
    </div>
  </div>
</div>
