<app-task (emitData)="getTaskData($event)"></app-task>
<div class="task-panel-container" *ngIf="taskPanelList && taskPanelList.length > 0">
  <div *ngFor="let task of taskPanelList" class="task-panel">
    <div class="example-card">
      <div class="card-header">
        <div class="card-title">
          <span>{{ title[task] }}</span>
        </div>
      </div>
    </div>
    <div class="drop-list">
      <div class="drop-box" *ngFor="let taskObj of tasks[task]">
        <app-task-card [task]="taskObj" [taskType]="task"></app-task-card>
      </div>
    </div>
  </div>
</div>
