<mat-card>
    <input matInput type="text" [(ngModel)]="addTitleName">
    <button (click)="addItem()">Add Item</button>
</mat-card>

<div class="example-container">
    <h2>To do </h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inProsessList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{item.name}}
            <a href="#" (click)="deleteItem(item?.id, 'todo')" mat-icon-button>
                <mat-icon>close</mat-icon>
            </a>
            <a href="#" (click)="editItem(item?.id)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Inprocess</h2>

    <div cdkDropList #inProsessList="cdkDropList" [cdkDropListData]="InProsess" [cdkDropListConnectedTo]="[doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of InProsess" cdkDrag>
            {{item.name}}
            <a href="#" (click)="deleteItem(item?.id, 'InProsess')" mat-icon-button>
                <mat-icon>close</mat-icon>
            </a>
            <a href="#" (click)="editItem(item?.id)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[inProsessList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{item.name}}
            <a href="#" (click)="deleteItem(item?.id, 'done')" mat-icon-button>
                <mat-icon>close</mat-icon>
            </a>
            <a href="#" (click)="editItem(item?.id)" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
        </div>
    </div>
</div>